{% extends 'Employee/main.html' %}
{% if request.user.activite == "emp" %}
{% block content %}
<br><br>
<div class="row" style="margin-top:-50px;">
   <div class="col-lg-3 col-sm-6" >
                <div class="card-box bg-blue" >
                    <div class="inner" >
                        <h3>{{total_vendu}}</h3>
                        <p> Nombre de mes vendres</p>
                    </div>
                    <div class="icon" >
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                    </div>
                    <a href="/vendre" class="card-box-footer" >Voire Plus <i class="fa fa-arrow-circle-right"></i></a>
                </div>
    </div>
    <div class="col-lg-3 col-sm-6">
                <div class="card-box bg-green">
                    <div class="inner">
                        <h3>{{medicament}} </h3>
                        <p>Médicament </p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-ambulance"aria-hidden="true"></i>
                    </div>
                    <a href="/medicament" class="card-box-footer">Voire Plus<i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
    
             <div class="col-lg-3 col-sm-6">
                <div class="card-box bg-orange">
                    <div class="inner">
                        <h3> {{stock}} </h3>
                        <p> Medicament au stock</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                    </div>
                    <a href="#" class="card-box-footer">Voire Plus  <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card-box bg-red">
                    <div class="inner">
                        <h3> {{total}} </h3>
                        <p> Total Vendu </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-users"></i>
                    </div>
                    <a href="#" class="card-box-footer">Voire Plus <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-md-12" style="position: initial;margin-top:50px">
              <div class="row">
                <div class="col-8"><canvas id="myChar" width="400" height="200"></canvas></div>
              </div>
            </div>
  </div>

{% endblock  %}

{% endif %}