{% extends 'client/main.html' %}
{% load static %}
{% block content %}
	<div class="row">
		{% for product in medicaments %}
		<div class="col-lg-3" style="margin-top: 20px;">
			<img class="thumbnail" src="{{product.image_url}}">
			<div class="box-element product">
				<h6><strong>{{product.nom_c}}</strong></h6>
				<hr>
                <h4 style="text-align:right"><strong>{{product.ppm|floatformat:2}} DH</strong></h4>
				<button data-item="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-pane">Acheter</button>
				<a class="btn btn-outline-success" href="#">Voire</a>
			</div>
		</div>
		{% endfor %}
	</div>
<br>
{% endblock content %}