{% load crispy_forms_tags %}	
<form class="delete-form wrap-contact100 " method="post" data-url="{% url 'fournisseur_delete' fournisseurs.id %}">
	<button type="button" class="btn-hide-contact100 close" data-dismiss="modal" aria-label="Close">
		<i class="fas fa-times"></i>
	</button>
	<div class="contact100-form-title" style="background-image: url(/static/img/Medicaments.jpg);">
		<span>Supprimer Fournisseur </span>
	</div>
	<div class="contact100-form"> 
        {% csrf_token %} 
        <p class="lead" style="text-align:center;font-family: 'Lato';">  Vous etes sur que vous voulez supprimer ce Fournisseur <strong>{{fournisseurs.nom}}</strong></p>                   
        <div class="container-contact100-form-btn" >
			<button type="submit" class=" btn btn-danger contact100-form-btn"  >
						Supprimer Fournisseur
			</button>
		</div>
    </div>
</form>

