<div>
  
    {% if pharmacien_non.has_other_pages %}
  <ul class="pagination pagination-sm justify-content-end">
    {% if pharmacien_non.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ pharmacien_non.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span a class="page-link">&laquo;</span></li>
    {% endif %}
    {% for i in pharmacien_non.paginato.page_range %}
      {% if pharmacien_non.number == i %}
        <li class="page-item active"><span class="page-link" >{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class="page-item"><a class="page-link"  href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if pharmacien_non.has_next %}
      <li class="page-item"><a  class="page-link" href="?page={{ pharmacien_non.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span a class="page-link">&raquo;</span></li>
    {% endif %}
  </ul>
  {% endif %}
</div>
                       